h1 {
  color: blue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
