h1 {
  color: blue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
